{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <body>
        This is an about page for our company MedTech. The overall goal of this company is to blah blah blah here are some examples and this page will look cohesive and pretty and that is all you need to know about that and that is cool enough alright that is all I got smile and have a great day haha.
    </body>

    <body>
        The ultimate goal of MedTech is to have a nationwide branch that allows for the movement of supplies to areas that are in need of supplies that other hospitals within a close proximity may have.

    <body style = "text-align: center;">

    <div class="mapouter" style = "text-align: center;">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=yale%20health&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">
                nord vpn promo</a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                </div>
    </body>
{% endblock %}
